Repository Digidai/gtm-cookbook: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(seo): Add comprehensive structured data and meta tags
  .vitepress/config.mts
Due: eslint --fix, prettier --write

fix(seo): Enhance Article Schema with required fields
  .vitepress/config.mts
Due: eslint --fix, prettier --write

feat(seo): Add specialized Schema types for different page types
  .vitepress/config.mts
Due: eslint --fix, prettier --write

feat(seo): Add voice search, WebPage Schema, and mobile optimization
  .vitepress/config.mts
Due: eslint --fix, prettier --write

feat(project): Optimize README, add CI workflow and interactive calculator
  .github/workflows/ci.yml
  .vitepress/components/CACCalculator.vue
  .vitepress/theme/custom.css
  .vitepress/theme/index.ts
  README.md
  docs/module-05/5.6-tool-stack.md
  package.json
  scripts/check-links.mjs
  scripts/export-pdf.mjs
Due: eslint --fix, prettier --write

fix(docs): add explicit anchor for calculator and update readme link
  README.md
  docs/module-05/5.6-tool-stack.md
Due: none

fix(deploy): correct Cloudflare Pages build output directory
  wrangler.toml
Due: none

style: fix prettier formatting issues in .claude/settings.json
  .claude/settings.json
Due: prettier --write

refactor(structure): move .vitepress config to docs directory
  docs/.vitepress/cache/deps/@theme_index.js
  docs/.vitepress/cache/deps/@theme_index.js.map
  docs/.vitepress/cache/deps/_metadata.json
  docs/.vitepress/cache/deps/chunk-EIAZ72LL.js
  docs/.vitepress/cache/deps/chunk-EIAZ72LL.js.map
  docs/.vitepress/cache/deps/chunk-SLVPRFL3.js
  docs/.vitepress/cache/deps/chunk-SLVPRFL3.js.map
  docs/.vitepress/cache/deps/package.json
  docs/.vitepress/cache/deps/vitepress___@vue_devtools-api.js
  docs/.vitepress/cache/deps/vitepress___@vue_devtools-api.js.map
  docs/.vitepress/cache/deps/vitepress___@vueuse_core.js
  docs/.vitepress/cache/deps/vitepress___@vueuse_core.js.map
  docs/.vitepress/cache/deps/vitepress___@vueuse_integrations_useFocusTrap.js
  docs/.vitepress/cache/deps/vitepress___@vueuse_integrations_useFocusTrap.js.map
  docs/.vitepress/cache/deps/vitepress___mark__js_src_vanilla__js.js
  docs/.vitepress/cache/deps/vitepress___mark__js_src_vanilla__js.js.map
  docs/.vitepress/cache/deps/vitepress___minisearch.js
  docs/.vitepress/cache/deps/vitepress___minisearch.js.map
  docs/.vitepress/cache/deps/vue.js
  docs/.vitepress/cache/deps/vue.js.map
  docs/.vitepress/components/CACCalculator.vue
  docs/.vitepress/config.mts
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/index.ts
Due: eslint --fix, prettier --write

fix(config): remove incorrect srcDir path
  docs/.vitepress/config.mts
Due: eslint --fix, prettier --write

fix: correct deploy artifact path
  .github/workflows/deploy.yml
Due: none

chore: automate PDF updates
  .github/workflows/pdf.yml
  scripts/export-pdf.mjs
Due: eslint --fix, prettier --write

chore: improve PDF export
  .github/workflows/pdf.yml
  GTM-Cookbook.pdf
  README.md
  scripts/export-pdf.mjs
Due: eslint --fix, prettier --write

🐛 fix(typescript): resolve type errors and code quality issues
  .vitepress/config.mts
  docs/.vitepress/vue-shim.d.ts
  package-lock.json
  package.json
  scripts/check-links.mjs
  tsconfig.json
  vue-shim.d.ts
Due: eslint --fix, prettier --write

fix: add comprehensive error handling to prevent crashes
  AGENTS.md
  CRASH-RISK-ANALYSIS.md
  FIXES-SUMMARY.md
  VERIFICATION-REPORT.md
  docs/.vitepress/components/CACCalculator.vue
  docs/.vitepress/config.mts
  scripts/add-frontmatter-title.mjs
  scripts/add-svg-a11y.mjs
  scripts/check-links.mjs
  scripts/convert-svg.mjs
  scripts/export-pdf.mjs
  src/index.ts
Due: eslint --fix, prettier --write

fix: prevent crashes and resource leaks in all scripts
  scripts/add-frontmatter-title.mjs
  scripts/add-svg-a11y.mjs
  scripts/check-links.mjs
  scripts/convert-svg.mjs
  scripts/export-pdf.mjs
Due: eslint --fix, prettier --write

fix: prevent crashes and resource leaks in all scripts
  docs/.vitepress/config.mts
  docs/.vitepress/theme/index.ts
  docs/public/_redirects
  scripts/add-frontmatter-title.mjs
  scripts/convert-svg.mjs
  scripts/export-pdf.mjs
  src/index.ts
Due: eslint --fix, prettier --write

fix: prevent crashes and resource leaks in all scripts
  docs/.vitepress/config.mts
  scripts/add-svg-a11y.mjs
  scripts/check-links.mjs
  scripts/convert-svg.mjs
  scripts/export-pdf.mjs
Due: eslint --fix, prettier --write

feat: add automated Google sitemap submission system
  .github/workflows/submit-sitemap.yml
  GOOGLE-SEARCH-CONSOLE-SETUP.md
  SEO-AUTOMATION.md
  SEO-README.md
  package.json
  scripts/verify-sitemap.mjs
Due: eslint --fix, prettier --write

fix: handle clean urls on cloudflare pages
  functions/_middleware.ts
  wrangler.pages.json
Due: eslint --fix, prettier --write

fix: include functions directory in cloudflare pages deployment
  .github/workflows/deploy.yml
Due: none

fix: remove conflicting _redirects file that caused infinite loops
  docs/public/_redirects
Due: none

fix: harden scripts and drop vitepress cache
  docs/.vitepress/cache/deps/@theme_index.js
  docs/.vitepress/cache/deps/@theme_index.js.map
  docs/.vitepress/cache/deps/_metadata.json
  docs/.vitepress/cache/deps/chunk-EIAZ72LL.js
  docs/.vitepress/cache/deps/chunk-EIAZ72LL.js.map
  docs/.vitepress/cache/deps/chunk-SLVPRFL3.js
  docs/.vitepress/cache/deps/chunk-SLVPRFL3.js.map
  docs/.vitepress/cache/deps/package.json
  docs/.vitepress/cache/deps/vitepress___@vue_devtools-api.js
  docs/.vitepress/cache/deps/vitepress___@vue_devtools-api.js.map
  docs/.vitepress/cache/deps/vitepress___@vueuse_core.js
  docs/.vitepress/cache/deps/vitepress___@vueuse_core.js.map
  docs/.vitepress/cache/deps/vitepress___@vueuse_integrations_useFocusTrap.js
  docs/.vitepress/cache/deps/vitepress___@vueuse_integrations_useFocusTrap.js.map
  docs/.vitepress/cache/deps/vitepress___mark__js_src_vanilla__js.js
  docs/.vitepress/cache/deps/vitepress___mark__js_src_vanilla__js.js.map
  docs/.vitepress/cache/deps/vitepress___minisearch.js
  docs/.vitepress/cache/deps/vitepress___minisearch.js.map
  docs/.vitepress/cache/deps/vue.js
  docs/.vitepress/cache/deps/vue.js.map
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,mts,ts}
  prettier --write: (any of: *.{js,mjs,mts,ts}) or (any of: *.{json,css,scss})
